 <% include ./partials/header %>
 <div class='container'>
<div class="jumbotron" style='background-image: url("https://lovelace-media.imgix.net/uploads/1391/fa759510-8bd3-0133-394e-06e18a8a4ae5.jpg?w=1200&h=1200&fit=max&auto=format&q=70")'>
<div class='fadebox'>    
    <h1>Welcome To Readcycle</h1><hr>
    <p>Readcyle defined:</p>
    <blockquote><em>A fun and easy way to exchange your books with other readers online for free!</em></blockquote>
</div>
</div>
<h2>Links to Other Bootstrap Components</h2>
<ul class='nav nav-pills'>
 <li class='dropdown'><a data-toggle='dropdown' data-target='#' href='#'>Samples <span class='caret'></span></a>
   <ul class='dropdown-menu'>
     <li><a href='/tabs'>Sample Tabs</a></li>
     <li><a href='/search'>Sample Forms</a></li>
     <li><a href='/grid'>Sample Grid System</a></li> 
     <li><a href='/alertmodal'>Alerts and Modals</a></li> 
     <li><a href='/toggles'>Toggle Buttons</a></li> 
     <li><a href='/collapse'>Collapsable Content</a></li> 
     <li><a href='/carousel'>Image Carousel</a></li> 
   </ul>
 </li>
 
</ul>

<script>
 $(startup);
 function startup(){
  $(".nav li").removeClass("active");
   $('#home').addClass('active');
 }
</script>

 <% include ./partials/footer %> 
 </div>