 <% include ./partials/header %>
 <div class='container'>
<div class="jumbotron" style='background-image: url("https://lovelace-media.imgix.net/uploads/1391/fa759510-8bd3-0133-394e-06e18a8a4ae5.jpg?w=1200&h=1200&fit=max&auto=format&q=70")'>
<div class='fadebox'>    
    <h1>Welcome To Readcycle</h1><hr>
    <p>Readcyle defined:</p>
    <blockquote><em>A fun and easy way to exchange your books with other readers online for free!</em></blockquote>
</div>
</div>


<script>
 $(startup);
 function startup(){
  $(".nav li").removeClass("active");
   $('#home').addClass('active');
 }
</script>

 <% include ./partials/footer %> 
 </div>